.film{
    background: black;
    /* height: 100vh; */
    font-family: 'Pathway Gothic One', sans-serif;
}
.film__intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 1rem;
    overflow: hidden;
}
.film__intro h1{
    margin: 0;
    color: white;
    font-size: 1.8em;
    width: 80%;
}
.film__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-bottom: 50px;
}
.film__description p{
    color: #f5e610;
    font-size: 1.3em;
    width: 80%;
}

.film__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    height: 350px;
}
.film__info p {
    /* margin: 5px; */
    /* padding: 0 11px; */
    color: white;
    font-size: 1.6em;
    /* width: 70%; */
}
@media (min-width: 992px) {
    .film__info {
        flex-direction: row;
    }
}