.home{
    background: black;
    height: 70vh;
    font-family: 'Pathway Gothic One', sans-serif;
}
.home__intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 1rem;
    overflow: hidden;
    background: url("./starfield.gif")  center;
}
.home__intro p{
    margin: 0;
    color: white;
    font-size: 1.8em;
    width: 80%;
}
.home__steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.home__steps p{
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    width: 80%;
}
.home__steps p:nth-child(3){
    color: white;
    font-weight: 300;
    width: 25%;
    height: 35px;
    background: url("./green-bg.svg");
    background-size: cover;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);

}
.home__steps-search{
    display: flex;
}
.home__steps-search button{
    padding: 0.95rem;
    margin: 0 0 1rem;
    border: 1px solid white;
    border-radius: 0 5px 5px 0;
    background: black url("./r2d2.svg") no-repeat center;
    background-size: 25px;
}
