.home{
    background: black;
    height: 100vh;
    font-family: 'Pathway Gothic One', sans-serif;
}
.home__intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 1rem;
    overflow: hidden;
    background: url("./starfield.gif")  center;
}
.home__intro p{
    margin: 0;
    color: white;
    font-size: 1.8em;
    width: 80%;
}
.home__steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.home__steps p{
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    width: 80%;
}
.home__steps p:nth-child(3){
    color: white;
    font-weight: 300;
    height: 35px;
    background: url("./green-bg.svg");
    background-size: cover;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    width: 260px;

}
.home__steps-search{
    display: flex;
}
.home__steps-search button{
    padding: 0.95rem;
    margin: 0 0 1rem;
    box-shadow: 4px 0.8px 8px  #f90606;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background: transparent url("./red-saber-btn.svg") no-repeat center;
    background-size: 30px;
}
.film{
    background: black;
}
.film-btn{
    margin: 0 0 30px 0;
    padding: 40px;
    background: transparent url("./green-saber-btn.svg") no-repeat center;
    background-size: 50px;
    box-shadow: 0.5px 0.8px 8px 0.2px #7ed63e;
    outline: none;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
